:root {
  --bleu: #5A86BF;
  --bleuciel: #7E9ABF;
  --taupe: #A67153;
  --marron: #A67C49;
  --clair: #C1C9D9;
  --blanc: #ffffff;
  --bleuFonce: #0e52a5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  font-family: 'Verdana', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  background-color: white;
}

.wrap {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 10px;
}
.wrapContent {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.container {
  min-height: calc(100vh - 220px);
}
#masthead {
  padding: 1rem 0;
  background-color: var(--bleu);
  height: 60px;
  .wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5.5rem;
    .logo{
      width: 3rem;
      img{
        width: 100%;
        filter: invert(100%);
      }
    }
  }
}
.disposition{
  display: flex;
  .menu{
    height: 100%;
    width: 15rem;
    display: flex;
    flex-direction: column;
    background-color: var(--bleu);
    li{
      display: block;
      width: 100%;
      a{
        display: block;
        text-align: center;
        padding: .7rem 0;
        transition: all .3s;
        color: var(--blanc);
        &:hover{
          background-color: white;
          color: var(--bleu);
        }
      }
    }
  }
  .container{
    width: 100%;
  }
}

#homepage{
  min-height: 100vh;
  padding-top: 3rem;
  .wrapContent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    .stat{
      width: 20rem;
      background-color: var(--bleu);
      border-radius: 10px;
      color: white;
      text-align: center;
      padding: 3rem 1rem;
      h3{
        font-size: 1.5rem;
      }
      .nmb{
        font-size: 6rem;
      }
      .details{
        font-size: 2rem;
      }
    }
  }
}

#listing_abonne{
  padding: 3rem 2rem;
  display: block;
  width: 100%;
  h1{
    text-align: center;
    color: var(--bleu);
    font-size: 2rem;
  }
  ul{
    display: flex;
    gap: 2rem;
    align-items: center;
    padding-top: 2rem;
    flex-direction: column;
    li{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 2rem 1rem;
      border-radius: 5px;
      -webkit-box-shadow: 0 9px 22px 9px rgba(146,146,146,0.76);
      box-shadow: 0 9px 22px 9px rgba(146,146,146,0.76);
      color: var(--bleu);
      transition: all .3s;
      &:hover{
        transform: scale(1.01);
      }
      .single{
        color: var(--bleu);
      }
      .more_listing{
        display: flex;
        gap: 3rem;
        a{
          color: var(--bleu);
          transition: all .3s;
          &:hover{
            opacity: .5;
          }
        }
        .supprimer_abonne{
          color: #db0d28;
        }
      }
    }
  }
  .bloc_add{
    padding-top: 3rem;
    margin: 0 auto;
    max-width: 20rem;
    width: 100%;
    .add_abonne{
      display: inline-block;
      text-align: center;
      background-color: var(--bleu);
      color: white;
      padding: .7rem 1rem;
      border-radius: 10px;
      transition: all .3s;
      &:hover{
        opacity: .8;
      }
    }
  }
}
#single_abonne{
  padding: 4rem 2rem;
  color: var(--bleu);
  h1{
    text-transform: uppercase;
    padding-bottom: 1rem;
  }
  h2{
    padding-bottom: 1rem;
  }
}
#add_abonne{
  padding-top: 4rem;
  background-color: white;
  height: 100vh;
  h1{
    text-align: center;
    color: var(--bleu);
    padding-bottom: 2rem;
    text-transform: uppercase;
    font-size: 2rem;
  }
}
.error{
  color: #db0d28;
}
form{
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
  background-color: var(--bleu);
  border-radius: 10px;
  padding: 3rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;

  input{
  width: 100%;
    padding: .5rem 1rem;
    border-radius: 5px;
    border: none;
    color: var(--bleu);
    font-weight: bold;
  }
  label{
    font-size: 1.4rem;
    padding-bottom: 1rem;
  }
  .name{
    display: flex;
    width: 100%;
    gap: 1rem;
    flex-direction: column;
    .nom{
      width: 100%;
    }
  }
  .emailAge{
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    .email{
      width: 100%;
    }
  }
  .submit{
    input{
      padding: .7rem 4rem;
      color: var(--bleu);
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
      transition: all .3s;
      &:hover{
        opacity: .7;
      }
    }
  }
}
#update_abonne{
  padding-top: 4rem;
  background-color: white;
  height: 100vh;
  h1{
    text-align: center;
    color: var(--bleu);
    padding-bottom: 2rem;
    text-transform: uppercase;
    font-size: 2rem;
  }
}
table{
  border-spacing: 0;
  width: 100%;
  color: var(--bleu);
  padding-bottom: 3rem;
  caption{
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: var(--bleu);
    font-weight: bold;
    text-transform: uppercase;
  }
  .nom_produit{
    width: 80%;
  }
}
thead{
  th{
    border: solid;
    padding: 1rem;
    font-size: 1.4rem;
  }
  .titre_modif{
    border-right: none;
    border-left: none;
    width: 10%;
  }
  .titre_supprimer{
    width: 10%;
  }
}
tbody{
  .product{
    td{
      padding: 1rem;
      border: solid;
      border-top: none;
      a{
        color: var(--bleu);
        transition: all .3s;
        &:hover{
          opacity: .6;
        }
      }
      .supprimer_product{
        color: #db0d28;
      }
    }
    .modif_product{
      border-left: none;
      border-right: none;
    }
  }
}
#products{
  min-height: 100vh;
  padding: 2rem 0;
  .add_product{
    max-width: 20rem;
    width: 100%;
    margin: 0 auto;
    a{
      background-color: var(--bleu);
      padding: .7rem 1rem;
      color: white;
      border-radius: 5px;
      transition: all .3s;
      &:hover{
        opacity: .7;
      }
    }
  }
}

#single_product{
  padding: 3rem;
  color: var(--bleu);
  min-height: 100vh;
  h1{
    text-align: center;
    font-size: 2rem;
    padding-bottom: 2em;
  }
  h2, p{
    padding-bottom: 1rem;
  }
}
#add_product{
  padding: 2rem 0 ;
  min-height: 100vh;
  h1{
    text-align: center;
    color: var(--bleu);
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  form{
    .product_form{
      width: 100%;
      textarea{
        width: 100%;
        min-height: 5rem;
        border-radius: 5px;
        resize: vertical;
        max-height: 18rem;
        padding: 1rem;
      }
    }
  }
}
#update_product{
  padding: 2rem 0 ;
  min-height: 100vh;
  h1{
    text-align: center;
    color: var(--bleu);
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  form{
    .product_form{
      width: 100%;
      textarea{
        width: 100%;
        min-height: 5rem;
        border-radius: 5px;
        resize: vertical;
        max-height: 18rem;
        border: none;
        padding: 1rem;
      }
    }
  }
}

#emprunts{
  padding: 4rem 0;
  min-height: 100vh;
  .wrapContent{
    h1{
      text-align: center;
      color: var(--bleu);
      font-size: 2rem;
    }
    form{
      .select{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        select{
          width: 100%;
          padding: 1rem;
          border-radius: 10px;
        }
      }
    }
    table{
      thead{
        .titre_emprunt{
          border-left: none;
          border-right: none;
        }
      }
    }
    .allEmprunts{
      max-width: 25rem;
      width: 100%;
      margin: 0 auto;
      a{
        padding: .6rem 1rem;
        background-color: var(--bleu);
        color: var(--blanc);
        transition: all .3s;
        font-size: 1.4rem;
        border-radius: 5px;
        &:hover{
          opacity: .7;
        }
      }
    }
  }
}
#allEmprunts{
  min-height: 100vh;
  .wrapContent{
    table{
      .titre_emprunt{
        border-left: none;
        border-right: none;
      }
      .date_rendu{
        border-left: none;
      }
    }

  }
}

#colophon {
  background-color: var(--bleu);
  color: var(--blanc);
  padding: 1rem 0;
  text-align: center;
  height: 60px;
}